.ninja-img {
  height: 200px;
  margin: auto;
  display: block;
}

.title {
  font-size: 60px;
  line-height: 60px;
}

.container {
  text-align: center;
}

.btn-primary {
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  font-weight: 500;
  padding: 0px 20px;
}

.btn-primary > a {
  text-decoration: none;
  color: white;
}

.green-circle {
  background:#46a546;
  color: white;
  border-radius: 30px;
  width: 60px;
  font-size: 40px;
  display: inline-block;
}

tr:last-child {
  font-weight: bold;
}

td:last-child {
  text-align: right;
}

.container {
  margin-bottom: 10px;
}
